#textdomain wesnoth-Haute_Lignee_Arcane
# Faction La Haute Lignée Arcane — à inclure DANS un [era].
# Meneur = Archonte Impérial (N4). Recrues = les 7 nobles. Pas de chair à canon :
# peu d'unités, très chères, très puissantes ; faible contrôle de villages.
[multiplayer_side]
    id=High_Arcane_Lineage
    name= _ "La Haute Lignée Arcane"
    image="units/human-magi/arch-mage.png"
    type=HAL_Archonte_Imperial
    leader=HAL_Archonte_Imperial
    random_leader=HAL_Archonte_Imperial
    recruit=HAL_Heritier_Arcanique,HAL_Garde_Azur,HAL_Dame_Etoiles,HAL_Adepte_Temporel,HAL_Invocateur_Noble,HAL_Dragonmage_Sang,HAL_Inquisiteur_Sang_Pur
    terrain_liked=Ce, Ke, Gg, Vh
    description= _ "La <b>Haute Lignée Arcane</b> rassemble les plus anciennes maisons impériales de mages nobles. Chaque unité est un duelliste aristocratique : très chère, très puissante, irremplaçable. Faction de petite taille à la magie dévastatrice (arcane/feu/froid), excellente en duel et en position choisie — mais fragile face au nombre, au poison et à la pression à distance, et lente à prendre les villages. Perdre une unité coûte cher."
    [ai]
        recruitment_pattern=mixed fighter,fighter,mixed fighter,scout
        villages_per_scout=8
    [/ai]
[/multiplayer_side]
