#textdomain wesnoth-Forge_Garde
# Carcasse : ce que laisse un construct détruit. Reconstructible par un Ingénieur adjacent.
[unit_type]
    id=GG Wreck
    name= _ "Carcasse"
    race=mechanical
    image="units/forge-garde/wreck.png"
    hitpoints=1
    movement_type=gg_construct
    movement=0
    experience=99
    level=0
    alignment=neutral
    advances_to=null
    cost=1
    usage=fighter
    do_not_list=yes
    hide_help=yes
    description= _ "Amas de métal tordu d’un construct détruit. Un Ingénieur de la Forge-Garde adjacent peut le reconstruire en l’automate d’origine. Sans défense, il est trivial à détruire pour l’ennemi."
[/unit_type]
