#textdomain wesnoth-Forge_Garde
# Faction Forge-Garde — à inclure DANS un [era].
[multiplayer_side]
    id=Forge_Garde
    name= _ "Forge-Garde"
    image="units/dwarves/lord.png"
    type=random
    leader=GG Forge Thane,GG Runesmith,GG Thundersmith,GG Spellbreaker
    random_leader=GG Forge Thane,GG Runesmith,GG Thundersmith,GG Spellbreaker
    recruit=GG Gearwright,GG Ironclad,GG Steam Crawler,GG Thundersmith,GG Forgemortar,GG Runesmith,GG Rune Sentinel,GG Spellbreaker
    terrain_liked=Hh, Mm, Uu, Re
    description= _ "Les <b>Clans de Forge-Garde</b> sont des nains qui ont poussé l’ingénierie runique jusqu’à l’art de la guerre : automates de vapeur, constructs gravés de runes et mortiers. Faction lente mais increvable, anti-magie et anti-poison, taillée pour le siège et le combat positionnel. Ses constructs s’auto-réparent ; ses nains vivants dépendent des villages."
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]
