#textdomain wesnoth-Haute_Lignee_Arcane
# Types de déplacement de la faction. À inclure DANS [units].
# Philosophie : bons en village/château (cour), moyens en plaine, mauvais en
# forêt/montagne/marais. Résistance arcane/feu/froid d'élite, physique faible/moyenne.

# --- Mage noble : fragile, magie résistante, mobilité moyenne ---
[movetype]
    name=hal_noble
    flies=no
    [movement_costs]
        flat=1
        sand=2
        forest=3
        swamp_water=3
        shallow_water=3
        reef=2
        deep_water=99
        hills=2
        mountains=4
        village=1
        castle=1
        cave=3
        frozen=3
        fungus=2
        unwalkable=99
        impassable=99
    [/movement_costs]
    [defense]
        flat=60
        sand=50
        forest=50
        swamp_water=70
        shallow_water=70
        reef=60
        deep_water=60
        hills=50
        mountains=50
        village=40
        castle=40
        cave=60
        frozen=50
        fungus=60
        unwalkable=60
        impassable=60
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=90
        cold=90
        arcane=80
    [/resistance]
[/movetype]

# --- Garde noble : lent, blindé, défense de terrain solide ---
[movetype]
    name=hal_guard
    flies=no
    [movement_costs]
        flat=1
        sand=2
        forest=3
        swamp_water=3
        shallow_water=3
        reef=3
        deep_water=99
        hills=2
        mountains=3
        village=1
        castle=1
        cave=3
        frozen=3
        fungus=2
        unwalkable=99
        impassable=99
    [/movement_costs]
    [defense]
        flat=50
        sand=50
        forest=50
        swamp_water=70
        shallow_water=70
        reef=60
        deep_water=60
        hills=40
        mountains=40
        village=40
        castle=40
        cave=50
        frozen=50
        fungus=60
        unwalkable=60
        impassable=60
    [/defense]
    [resistance]
        blade=80
        pierce=90
        impact=80
        fire=90
        cold=90
        arcane=80
    [/resistance]
[/movetype]
